---
import Base from "../layouts/Base.astro";
---

<Base>
	<section class="hero">
		<h1>
			15% discount for your first Web Store purchase on any item $9.99 or more!
		</h1>
	</section>
	<div class="container">
		<section class="grid">
			<a href="/store" class="highlight">
				<article>
					<div>
						<h2>Pokémon GO Fest 2024: Global Ticket</h2>
						<span>LIMITED-TIME ONLY</span>
						<p>$7.99</p>
						<button>Buy</button>
					</div>
					<img src="/event.webp" alt="" />
				</article>
			</a>
			<a href="/store#pokecoin">
				<article>
					<div>
						<h2>600 PokéCoins</h2>
						<span>50 WEB STORE BONUS COINS</span>
						<p>$2.99</p>
						<button>Buy</button>
					</div>
					<img src="/coin_100.webp" alt="" />
				</article>
			</a>
			<a href="/store#package">
				<article>
					<div>
						<h2>GO Rocket Box</h2>
						<span>LIMITED-TIME ONLY</span>
						<p>$4.99</p>
						<button>Buy</button>
					</div>
					<img src="/rocketbox.webp" alt="" />
				</article>
			</a>
			<article class="links">
				<img src="/pokemon-logo-large.webp" alt="" />
				<p>
					Get up and GO!
					<br />
					Download Today
				</p>
				<div class="download">
					<a href="https://apps.apple.com/vc/app/pok%C3%A9mon-go/id1094591345">
						<img src="apple.webp" alt="" />
					</a>
					<a
						href="https://play.google.com/store/apps/details?id=com.nianticlabs.pokemongo"
					>
						<img src="google.webp" alt="" />
					</a>
					<a
						href="https://galaxystore.samsung.com/detail/com.nianticlabs.pokemongo.ares"
					>
						<img src="galaxy.webp" alt="" />
					</a>
				</div>
			</article>
		</section>
	</div>

	<style scoped>
		.hero {
			height: 600px;
			position: relative;
			display: flex;
			align-items: flex-end;
			padding-bottom: 5rem;
			padding-inline: 2rem;

			&::before {
				content: "";
				background-image: url("/hero.webp");
				position: absolute;
				inset: 0;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}

			&::after {
				content: "";
				background-image: radial-gradient(transparent, hsla(0, 0%, 0%, 0.75));
				position: absolute;
				inset: 0;
			}

			h1 {
				position: relative;
				color: white;
				font-size: 3rem;
				font-weight: bold;
				width: var(--width);
				margin-inline: auto;
				z-index: 1;
				text-wrap: balance;

				@media screen and (min-width: 768px) {
					font-size: 4rem;
				}

				@media screen and (min-width: 1024px) {
					font-size: 5rem;
				}
			}
		}

		.container {
			width: clamp(320px, 100svw, 1280px);
		}

		.grid {
			display: grid;
			gap: 3rem;
			padding-block: 10rem;

			@media screen and (min-width: 768px) {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			@media screen and (min-width: 1440px) {
				grid-template-columns: repeat(5, minmax(0, 1fr));
			}

			article {
				display: grid;
				align-items: center;
				column-gap: 3rem;
				flex-grow: 1;

				@media screen and (min-width: 1440px) {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}

				div {
					display: flex;
					flex-direction: column;
					row-gap: 2rem;
					order: 1;
				}

				h2 {
					font-size: 3.5rem;
					color: inherit;
				}

				span {
					background-color: #f472b6;
					align-self: flex-start;
					padding: 0.75rem 1.5rem;
					border-radius: 1rem;
					font-size: 1.5rem;
					color: white;
					font-weight: bold;
				}

				p {
					font-size: 2.5rem;
				}

				img {
					width: 400px;
					object-fit: contain;
					justify-self: center;
				}

				button {
					background: var(--teal); /* fallback for old browsers */
					background: -webkit-linear-gradient(
						to right,
						var(--cyan),
						var(--teal)
					); /* Chrome 10-25, Safari 5.1-6 */
					background: linear-gradient(
						to right,
						var(--cyan),
						var(--teal)
					); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					padding: 1.25rem 5rem;
					color: white;
					font-size: 1.5rem;
					border-radius: 1.5rem;
					align-self: flex-start;
				}
			}

			.highlight {
				max-height: 100%;
				background-image: linear-gradient(to bottom right, #fdf2f8, #fbcfe8);
				border-radius: 2rem;
				box-shadow:
					0 4px 6px -1px #f9a8d4,
					0 2px 4px -2px #f9a8d4;
				padding: 2.5rem;
				font-weight: bold;
				display: flex;

				@media screen and (min-width: 768px) {
					grid-column: span 2 / span 2;
				}

				@media screen and (min-width: 1440px) {
					grid-column: span 3 / span 3;
					grid-row: span 2 / span 2;
				}

				&:hover {
					box-shadow:
						0 10px 15px -3px #f9a8d4,
						0 4px 6px -4px #f9a8d4;
					cursor: pointer;
				}
			}

			a:not(.highlight) {
				max-height: 100%;
				background-image: linear-gradient(to bottom right, #e2e8f0, #cbd5e1);
				border-radius: 2rem;
				box-shadow:
					0 4px 6px -1px #94a3b8,
					0 2px 4px -2px #94a3b8;
				padding: 2.5rem;
				font-weight: bold;

				@media screen and (min-width: 1440px) {
					grid-column: span 2 / span 2;
				}

				article {
					column-gap: 1.5rem;

					@media screen and (min-width: 1440px) {
						grid-template-columns: 15rem 1fr;
					}

					div {
						row-gap: 1rem;
					}

					h2 {
						font-size: 2rem;
					}
				}
			}

			.links {
				display: grid;
				background-image: linear-gradient(to bottom right, #06b6d4, #083344);
				padding: 2rem;
				border-radius: 2rem;
				color: white;

				@media screen and (min-width: 768px) {
					grid-column: span 2 / span 2;
					grid-template-columns: repeat(2, minmax(0, 1fr));
					padding: 5rem;
				}

				@media screen and (min-width: 1440px) {
					grid-column: 2 / span 3;
				}

				> img {
					display: none;

					@media screen and (min-width: 768px) {
						display: block;
						grid-row: span 2 / span 2;
					}
				}

				> p {
					font-weight: bold;
					font-size: 4rem;
					text-align: center;
					line-height: 100%;
				}

				.download {
					flex-direction: column;
					justify-content: space-around;
					column-gap: 1rem;

					@media screen and (min-width: 768px) {
						flex-direction: row;
					}
				}

				a {
					all: unset;

					img {
						width: 100%;
						height: 4rem;
					}
				}
			}
		}
	</style>
</Base>
