---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="container">
    <form action="/profile" method="post" onsubmit="signInUser(event)">
      <div class="form__group">
        <label for="ign">IGN</label>
        <input type="text" name="ign" id="ign" required />
      </div>
      <div class="form__group">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div>
        <div class="form__group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="form__group">
          <label for="passwordConfirmation">Confirm Password</label>
          <input
            type="password"
            name="passwordConfirmation"
            id="passwordConfirmation"
            required
          />
        </div>
      </div>
      <button>Create Account</button>
    </form>
  </div>
</Base>

<style scoped>
  .container {
    display: grid;
    place-items: center;
    row-gap: 1rem;
    padding-block: 10rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: clamp(28rem, calc(100svw - 4rem), 60rem);
    margin-inline: auto;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--slate);
    border: 1px solid var(--neutral);
    box-shadow:
      0 4px 6px -1px var(--neutral),
      0 2px 4px -2px var(--neutral);
    row-gap: 1.5rem;

    > div:last-of-type {
      display: grid;
      column-gap: 1.5rem;
      row-gap: 1.5rem;

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    button {
      background: var(--teal); /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        var(--cyan),
        var(--teal)
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        var(--cyan),
        var(--teal)
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: white;
      padding-block: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 1rem;
      margin-top: 1rem;
    }
  }
</style>

<script is:inline>
  function signInUser(event) {
    const { target: form } = event;

    const formData = new FormData(form);
    const user = Object.fromEntries(formData);
    const { password, passwordConfirmation, ...rest } = user;

    if (password !== passwordConfirmation) {
      return location.replace("/registration");
    }

    const playerId = new Date()
      .getTime()
      .toString()
      .split("")
      .reduce(
        (previous, current, index) =>
          index % 4 === 3 ? `${previous}${current} ` : `${previous}${current}`,
        "",
      )
      .slice(0, 14);

    document.cookie = `user=${JSON.stringify({
      ...rest,
      playerId,
    })}`;
  }
</script>
