---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="container">
    <section class="pokecoin" id="pokecoin">
      <h2>PokéCoin</h2>
      <div>
        <article>
          <img src="/coin_100.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 100</h2>
            <span>$0.99</span>
          </div>
        </article>
        <article>
          <img src="/coin_550.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 550</h2>
            <span>$4.99</span>
          </div>
        </article>
        <article>
          <img src="/coin_1200.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 1200</h2>
            <span>$9.99</span>
          </div>
        </article>
        <article>
          <img src="/coin_2500.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 2500</h2>
            <span>$19.99</span>
          </div>
        </article>
        <article>
          <img src="/coin_5200.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 5200</h2>
            <span>$39.99</span>
          </div>
        </article>
        <article>
          <img src="/coin_14500.webp" alt="" data-item />
          <div>
            <h2><img src="/pokecoin.webp" alt="" data-coin /> 14500</h2>
            <span>$99.99</span>
          </div>
        </article>
      </div>
    </section>
    <section class="packages" id="package">
      <h2>Packages</h2>
      <div>
        <article>
          <img src="/newtrainerbox.webp" alt="" data-item />
          <div>
            <h2>New Trainer Box</h2>
            <span>$0.99</span>
          </div>
        </article>
        <article>
          <img src="/newtrainerbox.webp" alt="" data-item />
          <div>
            <h2>Beginner Box</h2>
            <span>$0.99</span>
          </div>
        </article>
        <article>
          <img src="/specialresearchticket.webp" alt="" data-item />
          <div>
            <h2>Special Research Ticket</h2>
            <span>$7.99</span>
          </div>
        </article>
        <article>
          <img src="/specialresearchticket.webp" alt="" data-item />
          <div>
            <h2>Community Day Ticket</h2>
            <span>$0.99</span>
          </div>
        </article>
        <article>
          <img src="/gofest2021.webp" alt="" data-item />
          <div>
            <h2>GO Fest 2021 Ticket</h2>
            <span>$5.00</span>
          </div>
        </article>
      </div>
    </section>
    <section class="items">
      <h2>Items</h2>
      <div>
        <article>
          <img src="/incubator.webp" alt="" data-item />
          <div>
            <h2>1x Incubator Limited</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />150</span>
          </div>
        </article>
        <article>
          <img src="/superincubator.webp" alt="" data-item />
          <div>
            <h2>1x Super Incubator</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />200</span>
          </div>
        </article>
        <article>
          <img src="/premiumbattlepass.webp" alt="" data-item />
          <div>
            <h2>1x Premium Battle Pass</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />100</span>
          </div>
        </article>
        <article>
          <img src="/premiumbattlepass.webp" alt="" data-item />
          <div>
            <h2>3x Premium Battle Pass</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />250</span>
          </div>
        </article>
        <article>
          <img src="/remoteraidpass.webp" alt="" data-item />
          <div>
            <h2>1x Remote Raid Pass</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />195</span>
          </div>
        </article>
        <article>
          <img src="/remoteraidpass.webp" alt="" data-item />
          <div>
            <h2>3x Remote Raid Pass</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />525</span>
          </div>
        </article>
        <article>
          <img src="/rocketradar.webp" alt="" data-item />
          <div>
            <h2>Rocket Radar</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />200</span>
          </div>
        </article>
        <article>
          <img src="/poffin.webp" alt="" data-item />
          <div>
            <h2>Poffin</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />100</span>
          </div>
        </article>
        <article>
          <img src="/pokeball.webp" alt="" data-item />
          <div>
            <h2>20x Poké Ball</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />100</span>
          </div>
        </article>
        <article>
          <img src="/pokeball.webp" alt="" data-item />
          <div>
            <h2>100x Poké Ball</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />460</span>
          </div>
        </article>
        <article>
          <img src="/pokeball.webp" alt="" data-item />
          <div>
            <h2>200x Poké Ball</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />800</span>
          </div>
        </article>
        <article>
          <img src="/incense.webp" alt="" data-item />
          <div>
            <h2>1x Incense</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />40</span>
          </div>
        </article>
        <article>
          <img src="/incense.webp" alt="" data-item />
          <div>
            <h2>8x Incense</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />250</span>
          </div>
        </article>
        <article>
          <img src="/starpiece.webp" alt="" data-item />
          <div>
            <h2>1x Star Piece</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />100</span>
          </div>
        </article>
        <article>
          <img src="/starpiece.webp" alt="" data-item />
          <div>
            <h2>8x Star Piece</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />640</span>
          </div>
        </article>
        <article>
          <img src="/maxpotion.webp" alt="" data-item />
          <div>
            <h2>10x Max Potion</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />200</span>
          </div>
        </article>
        <article>
          <img src="/maxrevive.webp" alt="" data-item />
          <div>
            <h2>6x Max Revive</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />180</span>
          </div>
        </article>
        <article>
          <img src="/luckyegg.webp" alt="" data-item />
          <div>
            <h2>1x Lucky Egg</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />80</span>
          </div>
        </article>
        <article>
          <img src="/luckyegg.webp" alt="" data-item />
          <div>
            <h2>8x Lucky Egg</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />500</span>
          </div>
        </article>
        <article>
          <img src="/glacialluremodule.webp" alt="" data-item />
          <div>
            <h2>1x Glacial Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />180</span>
          </div>
        </article>
        <article>
          <img src="/mossyluremodule.webp" alt="" data-item />
          <div>
            <h2>1x Mossy Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />180</span>
          </div>
        </article>
        <article>
          <img src="/magneticluremodule.webp" alt="" data-item />
          <div>
            <h2>1x Magnetic Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />180</span>
          </div>
        </article>
        <article>
          <img src="/rainyluremodule.webp" alt="" data-item />
          <div>
            <h2>1x Rainy Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />180</span>
          </div>
        </article>
        <article>
          <img src="/luremodule.webp" alt="" data-item />
          <div>
            <h2>1x Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />100</span>
          </div>
        </article>
        <article>
          <img src="/luremodule.webp" alt="" data-item />
          <div>
            <h2>8x Lure Module</h2>
            <span><img src="/pokecoin.webp" alt="" data-coin />680</span>
          </div>
        </article>
      </div>
    </section>
  </div>

  <style scoped>
    h2 {
      font-size: 3.5rem;
      font-weight: bold;
    }

    section {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;

      > div {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 2rem;
        display: grid;
      }
    }

    article {
      background-color: var(--slate);
      border: 1px solid var(--neutral);
      border-radius: 2rem;
      box-shadow:
        0 4px 6px -1px var(--neutral),
        0 2px 4px -2px var(--neutral);
      position: relative;
      display: grid;
      place-items: center;
      padding: 2.5rem 5rem 7.5rem;

      > img {
        transition: scale 300ms ease-in-out;
      }

      &:hover {
        cursor: pointer;

        > img {
          scale: 1.1;
        }
      }

      div {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        display: flex;
        column-gap: 1rem;
        align-items: center;
        font-weight: bold;
        background-color: hsla(210, 40%, 98%, 0.75);
        border: 1px solid var(--neutral);
        border-radius: 2rem;

        h2 {
          font-size: 1.5rem;
          padding: 0.75rem 0 0.75rem 1.5rem;
        }

        span {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;
          font-size: 1.25rem;
          background: var(--teal); /* fallback for old browsers */
          background: -webkit-linear-gradient(
            to right,
            var(--cyan),
            var(--teal)
          ); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            var(--cyan),
            var(--teal)
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: white;
          padding: 0.9rem 1rem;
          border-radius: 2rem;

          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    .container {
      padding-block: 10rem;
      display: flex;
      flex-direction: column;
      row-gap: 5rem;
    }

    .pokecoin article > div,
    .packages article > div {
      > h2 {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  </style>
</Base>
