---
const user = Astro.cookies.get("user");
const hasUser = user !== undefined && user.value !== "";
---

<header>
  <div class="container">
    <section>
      <a href="/">
        <img src="/pokemon-logo.webp" alt="Pokemon Logo" />
      </a>
      {
        hasUser && (
          <span>
            Welcome, <b>{user.json().ign}</b>
          </span>
        )
      }
    </section>

    <nav>
      <a href="/store">Store</a>
      {
        hasUser ? (
          <>
            <a href="/profile">Profile</a>
            <form action="/" method="post" onsubmit="signOutUser(event)">
              <button>Sign Out</button>
            </form>
          </>
        ) : (
          <a href="/registration">Sign In</a>
        )
      }
    </nav>
  </div>
</header>

<style scoped>
  header {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--neutral);
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
  }

  a[href="/registration"] {
    background: var(--teal); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      var(--cyan),
      var(--teal)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      var(--cyan),
      var(--teal)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 1.5rem;
  }

  nav {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    a:not([href="/registration"]) {
      font-weight: bold;
      font-size: 1.75rem;
    }
  }

  section {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  button {
    background: #b91c1c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ef4444,
      #b91c1c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ef4444,
      #b91c1c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-weight: bold;
  }
</style>

<script is:inline>
  function signOutUser() {
    document.cookie = "user=";
  }
</script>
