@layer reset, main;

@import "reset.css" layer(reset);

@layer main {
  :root {
    --neutral: #e5e5e5;
    --teal: #0f766e;
    --cyan: #0e7490;
    --emerald: #ecfdf5;
    --slate: #f8fafc;

    --link: #22d3ee;
    --link-hover: #06b6d4;

    --width: clamp(320px, 100svw, 1280px); 

    color: #334155;
    font-family: 'Lato', sans-serif;
  }

  main {
    background-color: var(--emerald);
    min-height: calc(100svh - 10rem - 24.5rem) ;
  }

  .container {
    width: var(--width);
    margin-inline: auto;
    padding-inline: 2rem;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: 1 1 0%;

    label {
      font-size: 1.5rem;
      font-weight: bold;
    }

    input {
      padding: 1rem 1.5rem;
      border: 1px solid var(--neutral);
      border-radius: 0.5rem;
      font-size: 1.5rem;
    }
  }
}